includes:
  - ./vendor/larastan/larastan/extension.neon

parameters:
  level: 5

  paths:
    - app
    - routes
    - tests
    - database/factories

  bootstrapFiles:
    - tests/TestCase.php

  inferPrivatePropertyTypeFromConstructor: true
  checkMissingTypehints: true
  reportUnmatchedIgnoredErrors: false

  # Larastan-specific (ativado automaticamente ao usar a extensão)
  larastan:
    analysis:
      framework: true
